.mainPageField{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.workingArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85vw;
}

.resultArea, .insertArea{
    font-size: 2vh;
    height: 30vh;
    width: 42vw;
    border: 1px solid lightgrey;
}