.chats-storage{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.chats{
    display: flex;
    flex-direction: row;
    color:black;
    border-bottom: 1;
    border-color:grey   ;
    background-color: white;
    transition:background-color 0.2s, color 0,2s;
}

.chats:hover{
    background-color: #c6c3c7;
}

.chats:hover,.chat-details,.chat-meta{
    border-bottom: 0;
}

.photo{
    border-radius: 50%;
}

.chat-picture{
    display:flex;
    flex-basis:80px;
    align-items: center;
    justify-content: center;
}

.chat-details{
    flex-grow:1;
}

.chat-details,.chat.meta{
    display:flex;
    flex-direction: column;
    padding:10px;
    border-bottom:1px solid #c6c3c7;
    gap:8px;
}

.chat-meta{
    flex-basis: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.last-mes-date{
    justify-content: flex-start;
    width:100%;
}

.last-mes-state{
    color:#8e24aa;
    justify-content: flex-end;
    width:100%;
}